
.header1 {
    height: 100px;
    padding-top: 15px;
    background: green;
}

.text1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.text1:hover{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}
.header2 {
    height: 30px;
    background: rgb(1, 73, 1);
}
.javaa {
    
    background: rgb(112, 65, 199);
}
.imgssss {
    
    height: 400px;

}
.noticias {
    height: auto;
    background: rgb(201, 26, 26);
}
.noticias1 {
    height: 465px;
    background: tomato
}
.imageness{
    height: 90%;
    width: 90%;


    padding-top: 15px;
}

